body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.picker {
  width: 320px;
  border-radius: 15px;
  background-color: #444444;
  padding: 15px;
}

.centeredBoxes {
  width: 320px;
  display: flex;
  justify-content: center;
}

.wrappedBoxes {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.avatarCell {
  width: 80px;
  height: 80px;
}

.avatar {
  width: 60px;
  height: 60px;
  margin: 10px;
  background-position: center center;
  background-size: contain;
  border-radius: 33px;
  border-style: hidden;
}

.avatar.selected {
  border: solid 3px cornflowerblue;
}

.avatar.spinner {
  border: dashed 3px cornflowerblue;
  animation: colorChange 0.25s infinite alternate;
}

@keyframes colorChange {
  from { border-color: cornflowerblue;}
  to { border-color: #fff;}
}
